body {
  margin: 0;
  font-family: 'Segoe UI',
   
}
.containerAsli{
  width:50%;
  margin: auto;
}
main{
  margin-top: 5%;
  display: flex;
  justify-content: center;
  border:1px solid gray;
}
.container1{
  padding: 1rem;
  background-color: #8edde7;
  flex-basis: 50%;
  text-align: center;
}
.container2{
  padding: 1rem;
  background-color:#f59b8b;
  flex-basis: 50%;
  text-align: center;
}

